.full-container{
    margin-right: 30px;
    margin-left: 30px;
    padding: 20px;
    
}
.main-section{
   background: url('../img/ar3.jpg') no-repeat center top;
   background-size: cover;
    height: 450px;
    margin-left: 25px;
    margin-right: 25px;
    
}
.main-section h3 {
    margin-left:5px;
    margin-top: 10px;
    font-family: serif;
}
.history-section h2{
    font-family: sans-serif;
    font-size:35px;
    color: aquamarine;
}
.history-section{
    width:100%;
    height: auto;
    margin-right:15px;
} 
.history-section p{
    color: aqua;
    font-size: 16px;
    font-family: cursive;
    
} 
.history-right-part{
    margin-left: 20px;
}
.history-right-part img{
    
}
.campaign-main {
    margin-top: 10px;
    background-color: cadetblue;
    padding-top: 10px;
}
.contuct-us h2{
    color: cadetblue;
    font-family: fantasy;
}
.contuct-body h4{
    color: darkolivegreen;
    font-family: fantasy;
}
.contuct-us p{
    color: darkcyan;
    font-family: fantasy;
}
.contuct-body p{
    color: darkseagreen;
    font-family: fantasy;
}
.form-section input{
  
   display: block;
width: 65%;
padding: 0.375rem 0.75rem;
font-size: 1rem;
line-height: 0.5;
color:
#495057;
background-color:
#fff;
background-clip: padding-box;
border: 1px solid
#ced4da;
border-radius: 0.25rem;
transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

   
}
.form-section textarea{
   display: block;
width: 100%;
padding: 0.375rem 0.75rem;
font-size: 1rem;
line-height: 1.5;
color:
#495057;
background-color:
#fff;
background-clip: padding-box;
border: 1px solid
#ced4da;
border-radius: 0.25rem;
transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.form-section button{
    float: right;
    color:darkgreen;
    background-color:#fff;
    border-radius:5px solid #ced4da; 
   border-radius: 0.25rem;
transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

}



.share-icon ul li a{
    
    width: 45px;
    height: 45px;

}
#footer-section{
    background-color: darkslategrey;
}

